<h2><center>Final Project - Part 3</center></h2>
<h1><center>Characters Who Shaped the Wizarding World of Harry Potter</center></h1>
<h3><center>Author - Ruchita Baglane&nbsp&nbsp Net ID - baglane2</center></h3>

# Introduction

Being an ardent fan of the Harry Potter movies and books, I have alaways been very interested in all the blogs and online articles related to the wizarding world. Knowing the history and backgroud of the wizards and magical creatures has always fascinated me. So as part of this project I decided to analyse the Harry Potter characters dataset to have a look at the witches, wizards and muggles(non magic folks) having different blood status i.e. ancestory. I also went ahead and created a visualisation to see who these characters were loyal to at the time of the Battle of Hogwarts.

The article consits of an interactive visualisation similar to the one submitted in part 2 of final project. Thus, I have reused the code to load the input data, clean and transform the data and create the visualization. I have used bqplot to add interactivity in the visulizations. I have added a brief description before every visualization.


### Choice of Datasets
The main dataset that I have selected is the Characters.csv data. This dataset consists of the character names, their Hogwarts houses, blood statuses, wand types, patronuses, etc. There are three contextual datasets that I have selected consist of the character names and sentences spoken by each character in the first three movies in the Harry Potter series. The links to all the datasets is given at the end of the notebook.

## Visualization #1 - Loyalty of Characters, Their Houses, and Blood Types
With the first visualization I aim to depict the loyalties of characters from different Hogwarts houses and also show how they are segregated into different blood types based on their ancestory. The four Hogwarts houses are - Gryffindor, Slytherin, Hufflepuff, Ravenclaw. The different blood types are - pure blood, half blood, muggle born.

The following cells represent the steps taken to clean and transform the data and finally creating the visulization.

### Step 1 - Importing required packages

In [1]:
# Importing packages required for EDA

import pandas as pd
import bqplot
from bqplot import pyplot as plt
from bqplot import Tooltip
import numpy as np
import ipywidgets
import pandas as pd
import matplotlib
import matplotlib.pyplot as plot

### Step 2 - Loading input file

In [2]:
# Loading the file into pandas dataframe.

characters_data = pd.read_csv('Characters.csv', sep = ';')
characters_data.head(5)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Death
0,1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,NaN
1,2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,NaN
2,3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",NaN
3,4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,"30 June, 1997"
4,5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",None,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,NaN

### Step 3 - Cleaning the data in the column 'Loyalty'

In [3]:
four_houses = ['Gryffindor', 'Ravenclaw', 'Slytherin', 'Hufflepuff']

# Replacing the column values with 'Other' for house names apart from the one's in the above list.
characters_data.loc[((~characters_data.House.isin(four_houses)) & 
                    (characters_data.House != 'Unknown')), 'House'] = 'Other'

print(characters_data['House'].nunique())
characters_data.House.unique()

5

array(['Gryffindor', 'Ravenclaw', 'Slytherin', 'Other', 'Hufflepuff'],
      dtype=object)

In [4]:
# Checking unique values in the Loyalty column
characters_data.Loyalty.unique()

array(["Albus Dumbledore | Dumbledore's Army | Order of the Phoenix | Hogwarts School of Witchcraft and Wizardry",
       "Dumbledore's Army | Order of the Phoenix | Hogwarts School of Witchcraft and Wizardry",
       'Albus Dumbledore | Order of the Phoenix | Hogwarts School of Witchcraft and Wizardry',
       "Dumbledore's Army | Hogwarts School of Witchcraft and Wizardry",
       'Order of the Phoenix', 'Lord Voldemort| Death Eaters',
       'Order of the Phoenix| Hogwarts School of Witchcraft and Wizardry |British Ministry of Magic',
       'Order of the Phoenix | Gringotts Wizarding Bank',
       'Hogwarts School of Witchcraft and Wizardry',
       "Dumbledore's Army |Hogwarts School of Witchcraft and Wizardry",
       'Order of the Phoenix| British Ministry of Magic',
       'Lord Voldemort', nan, 'Lord Voldemort \xa0| Death Eaters',
       'Ministry of Magic', 'Ministry of Magic | Order of the Phoenix',
       "Dumbledore's Army", 'Original Order of the Phoenix',
       'Minister of Magic', "Gellert Grindelwald's Acolytes"],
      dtype=object)

In [5]:
# Repalcing the blanks, nans, and special characters with appropriate values and transforming the column values as
# needed for the visualisation.

characters_data['Loyalty Clean'] = characters_data['Loyalty'].fillna(' ').\
                                            apply(lambda x: x.replace('\xa0', ' '))

characters_data.loc[(characters_data['Loyalty Clean'].str.\
                     contains('Dumbledore', regex=False)), 'Loyalty Clean'] = "Dumbledore's Army"

characters_data.loc[(characters_data['Loyalty Clean'].str.\
                     contains('Lord Voldemort|Grindelwald', regex=True)), 'Loyalty Clean'] = 'Lord Voldemort/Death Eaters'

characters_data.loc[(characters_data['Loyalty Clean'].str.\
                     contains('Ministry|Minister', regex=True)), 'Loyalty Clean'] = 'Ministry of Magic'

characters_data.loc[((characters_data['Loyalty Clean'].str.\
                     contains('Order', regex=False)) & (~characters_data['Loyalty Clean'].str.\
                     contains('Ministry', regex=False))), 'Loyalty Clean'] = 'Order of the Phoenix'

characters_data.loc[((characters_data['Loyalty Clean'].str.\
                     contains('Hogwarts', regex=False)) & (~characters_data['Loyalty Clean'].str.\
                     contains('Order', regex=False))), 'Loyalty Clean'] = 'Hogwarts School'

characters_data['Loyalty Clean'].replace(to_replace = [' '],
                                            value = 'Not Specified',
                                            inplace = True)

print(characters_data['Loyalty Clean'].nunique())
characters_data['Loyalty Clean'].unique()

6

array(["Dumbledore's Army", 'Order of the Phoenix',
       'Lord Voldemort/Death Eaters', 'Ministry of Magic',
       'Hogwarts School', 'Not Specified'], dtype=object)

### Step 4 - Cleaning the data in the column 'Blood Status'

In [6]:
characters_data['Blood status'].unique()

array(['Half-blood', 'Pure-blood', 'Muggle-born',
       'Part-Human\xa0(Half-giant)', 'Half-blood\xa0or\xa0pure-blood',
       'Pure-blood\xa0or\xa0half-blood', 'Pure-blood\xa0or\xa0Half-blood',
       'Unknown', 'Part-Goblin', 'Muggle-born\xa0or\xa0half-blood[', nan,
       'Pure-blood or half-blood', 'Quarter-Veela', 'Half-blood[',
       'Muggle', 'Squib'], dtype=object)

In [7]:
# Repalcing the blanks, nans, and special characters with appropriate values and transforming the column values as
# needed for the visualisation.
characters_data['Blood status clean'] = characters_data['Blood status'].fillna(' ').\
                                            apply(lambda x: x.replace('\xa0', ' '))

characters_data['Blood status clean'].replace(to_replace = ['Half-blood or pure-blood',
                                                     'Pure-blood or Half-blood',
                                                     'Pure-blood or half-blood'],
                                            value = 'Pure-blood or half-blood',
                                            inplace = True)
characters_data['Blood status clean'].replace(to_replace = ['Half-blood['],
                                            value = 'Half-blood',
                                            inplace = True)
characters_data['Blood status clean'].replace(to_replace = ['Muggle-born or half-blood['],
                                            value = 'Half-blood',
                                            inplace = True)
characters_data['Blood status clean'].replace(to_replace = [' '],
                                            value = 'Unknown',
                                            inplace = True)

print(characters_data['Blood status clean'].nunique())
characters_data['Blood status clean'].unique()

10

array(['Half-blood', 'Pure-blood', 'Muggle-born',
       'Part-Human (Half-giant)', 'Pure-blood or half-blood', 'Unknown',
       'Part-Goblin', 'Quarter-Veela', 'Muggle', 'Squib'], dtype=object)

In [8]:
blood_status = ['Half-blood', 'Pure-blood', 'Muggle-born', 'Pure-blood or half-blood', 'Muggle-born or half-blood']

# Replacing the column values with 'Other' for blood status apart from the one's in the above list.
characters_data.loc[((~characters_data['Blood status clean'].isin(blood_status)) & 
                    (characters_data['Blood status clean'] != 'Unknown')), 'Blood status clean'] = 'Other'

print(characters_data['Blood status clean'].nunique())
characters_data['Blood status clean'].unique()

6

array(['Half-blood', 'Pure-blood', 'Muggle-born', 'Other',
       'Pure-blood or half-blood', 'Unknown'], dtype=object)

### Step 5 - Creating output placeholders for tooltips

In [9]:
out = ipywidgets.Output()
out1 = ipywidgets.Output(layout={'border': '1px solid black', 
                                 'margin': '0 0 0 0'})
out2 = ipywidgets.Output(layout={'border': '1px solid black', 
                                 'margin': '0 0 0 0'})
out3 = ipywidgets.Output(layout={'border': '1px solid black', 
                                 'margin': '0 0 0 0'})
out4 = ipywidgets.Output(layout={'border': '1px solid black', 
                                 'margin': '0 0 0 0'})
out5 = ipywidgets.Output(layout={'border': '1px solid black', 
                                 'margin': '0 0 0 0'})

### Step 6 - Creating the plots in the interactive visualization

In [10]:
# Code for stacked bar chart

# Creating the area for visualization
fig = plt.figure(title = "Character count per Hogwarts house")

# Setting the layout for the plot
fig.layout.height = "600px"
fig.layout.width = "700px"

# Grouping the data by houses and blood statuses of the characters
df = characters_data.groupby(["House", "Blood status clean"]).Name.count().unstack('Blood status clean')

# Creating bar plot to show "Character count per Hogwarts house"
houses = plt.bar(x = df.index.tolist(), 
                 y= df.values.tolist(),
                 labels = df.columns.tolist(),
                 interactions = {'click': 'select', 'hover': 'tooltip'},
                 anchor_style = {'fill': 'white'},
                 selected_style={'stroke': 'white', 'stroke-width': 3},
                 unselected_style={'opacity':0.5},
                 display_legend = True)

# For stacked bar graph
houses.type = "stacked"

houses.colors = bqplot.CATEGORY10

plt.xlabel("House")
plt.ylabel("Character count")
fig.legend_location = 'top-left'
fig.legend_text = {'font-size': 12}
fig.legend_style = {'width': 'auto'}


# Code for the horizontal bar chart

# Creating the area for visualization
figb = plt.figure(title = "Loyalties of charcaters during the war")

# Setting the layout for the plot
figb.layout.height = "600px"
figb.layout.width = "700px"

subset = characters_data.loc[characters_data['House'] == 'Gryffindor']

# Grouping the data by Loyalty of the characters
loyalty = subset.groupby("Loyalty Clean").Name.count()

# Creating bar plot to show "Loyalties of charcaters during the war"
loyalty_plot = plt.bar(x = loyalty.index.tolist(), 
                       y= loyalty.values.tolist(), 
                       orientation = 'horizontal',
                      tick_style ={'font-size': 100})

loyalty_plot.colors = ["tomato"]
plt.xlabel("Loyalty")
plt.ylabel("Character count")

figb.axes[0].tick_rotate = -60
figb.axes[0].tick_style = {'text-anchor': 'end', 'offset': '40px', 'font-size': 10}
figb.axes[0].label_offset = '-12%'

### Step 7 - Adding interactivity to the visualizations

In [11]:
# Code for tooltip for the stacked bar chart
def on_hover_houses(_, event):
    out1.clear_output()
    with out1:
        print(f"House: {event['data']['x']}\n"\
              f"Blood status: {df.columns[event['data']['colorIndex']]}\n"\
              f"Character count: {event['data']['y']}\n")
    houses.tooltip = out1

# Code for tooltip for the horizontal bar chart    
def on_hover_loyalty(_, event):
    out2.clear_output()
    with out2:
        print(f"Loyalty: {event['data']['x']}\n"
              f"Character count: {event['data']['y']}\n")
    loyalty_plot.tooltip = out2
    
# Calback function to interact with bar plot
def on_selected(self, change, characters_data):
    #print(change, self)
    house = None
    if len(self.selected) == 0:
            label.value = 'No data selected!!'
            return
    for mark in self.selected:
        house = self.x[mark]

    subset = characters_data.loc[characters_data['House'] == house]

    loyalty = subset.groupby("Loyalty Clean").Name.count()
    
    loyalty_plot.x = loyalty.index.tolist()
    loyalty_plot.y = loyalty.values.tolist()
    ## TO MODIFY COLOR
    house_colors = {
        'Gryffindor': 'red',
        'Hufflepuff': 'yellow',
        'Ravenclaw': 'blue',
        'Slytherin': 'green',
        'Other': 'Gray'
    }
    loyalty_plot.colors = [house_colors[house]]

houses.on_hover(on_hover_houses)
houses.on_element_click(lambda _, x: on_selected(_, x, characters_data))
loyalty_plot.on_hover(on_hover_loyalty)

### Step 8 - Displaying the visualization
The stacked bar graph on the left shows characters of different blood types from different houses in Hogwarts School of Witchcraft and Wizardry. This stacked bar chart basically gives information about which houses are more accomodating of people from different backgrounds. By looking at the stacked bar chart, one can say that Gryffindor is the most accomodating of wizards from all the backgrouds. Slytherin, on the other hand, has no muggle born or Wizards with blood types other than pure or half-blood. I have added a tooltip to make the visualization interactive. When the user hovers over a section of the bar, a tooltip shows the Hogwarts house, the blood status represented by the selected section, and the number of characters belonging to this section from the selected house. 

The second visualization on the right is a horizontal bar graph showing the loyalty of Hogwarts characters who partocipated in the Battle of Hogwarts. Loyalty indicates which  side the character was on and whether he favored evil or the good side. When the user hovers the mouse over any bar, a tooltip shows the loyalty details represented by the selected bar and the number of characters that indicate loyalty to the selected group. 

The two bar charts are linked. When the user clicks on one of the bars in the stacked bar chart, the horizontal bar chart is updated to reflect the loyalty of  the selected Hogwarts School of Witchcraft and Wizardry character. For example, if the user clicks on a bar that represents Gryffindor, the bar graph on the right shows the distribution of characters having different loyalties from Gryffindor. From the visualization we can say that, Gryffindors were the most loyal to the Dumbeldore's Army which is the good side. Ravenclaw and Hufflepuff also loyalty to the good side, while Slytherins were mostly on Voldermot's side.

In [12]:
my_dashboard = ipywidgets.HBox([fig, figb])
my_dashboard.layout.width = 'auto'

display(my_dashboard)

HBox(children=(Figure(axes=[Axis(label='House', scale=OrdinalScale()), Axis(label='Character count', orientati…

# Contextual Plots

The contextual datasets that I have selected consist of the dialogues of characters in the furst three movies in the Harry Potter series. Through these datasets, I wanted to find out the most significant characters in the series based on the sentemces they have spoken. I aim to map this information to the main dataset to have a look the house wise and blood status wise distribution of the most important characters in the series. I am combining the data from the three datasets for this visulizations.

The following cells represent the steps taken to clean and transform the data and finally creating the visulization.

### Step 1 - Loading the input data files

In [13]:
hp1 = pd.read_csv('Harry Potter 1.csv', sep = ';')
hp2 = pd.read_csv('Harry Potter 2.csv', sep = ';')
hp3 = pd.read_csv('Harry Potter 3.csv', sep = ';')

### Step 2 - Cleaning and transforming the input data files

In [14]:
hp1['Character'] = hp1['Character'].fillna(' ').\
                                    apply(lambda x: x.replace('\xa0', ' '))

hp2['Character'] = hp2['Character'].fillna(' ').\
                                    apply(lambda x: x.replace('\xa0', ' '))

hp3 = hp3.rename({'CHARACTER': 'Character', 'SENTENCE': 'Sentence'}, axis=1)
hp3['Character'] = hp3['Character'].fillna(' ').\
                                            apply(lambda x: x.replace('\n', ''))

hp2.Character = hp2.Character.str.title()
hp3.Character = hp3.Character.str.title()

hp3['Character'].unique()

array(['Harry', 'Aunt Petunia', 'Uncle Vernon', 'Aunt Marge',
       'Stan Shunpike', 'Shrunken Head', 'Tom', 'Fudge', 'Vendor',
       'Housekeeper', 'Ron', 'Hermione', 'George', 'Fred', 'Mrs. Weasley',
       'Mr. Weasley', 'Lupin', 'Dumbledore', 'Draco', 'Seamus',
       'Fat Lady', 'Dean', 'Trelawney', 'Neville', 'Bem', 'Hagrid',
       'Pansy Parkinson', 'Boy', 'Class', 'Parvati', 'Mcgonagall',
       'Filch', 'Percy', 'Ginny', 'Teacher', 'Snape', 'Crowd', 'Man',
       'Fred & George', 'Witch', 'Crabbe', 'Madam Rosmerta',
       'Shrunken Head 1', 'Shrunken Head 2', 'Voice', 'Goyle', 'Sirius',
       'Pettigrew', 'Boy 1', 'Boy 2'], dtype=object)

### Step 3 - Concatenating the three files

In [15]:
df_list = [hp1, hp2, hp3]
# Concatenating the dataframes
hp_complete = pd.concat(df_list)

# Removing trailing spaces
hp_complete.Character = hp_complete.Character.str.strip()
# Making the character name uniform for further processing.
hp_complete['Character'] = hp3['Character'].fillna(' ').\
                                            apply(lambda x: x.replace('Mcgonagall', 'McGonagall'))
hp_complete

         Character                                           Sentence
0            Harry  I should've known that you would be here, Prof...
1            Harry                Good evening, Professor Dumbledore.
2            Harry                        Are the rumors true, Albus?
3            Harry                          I'm afraid so, professor.
4     Aunt Petunia                              The good and the bad.
...            ...                                                ...
1633      Hermione                             How fast is it, Harry?
1634         Harry                                             Lumos.
1635         Harry          I solemnly swear that I am up to no good.
1636         Harry                                  Mischief managed.
1637         Harry                                               Nox.

[4925 rows x 2 columns]

In [16]:
hp_complete['Character'].unique()

array(['Harry', 'Aunt Petunia', 'Uncle Vernon', 'Aunt Marge',
       'Stan Shunpike', 'Shrunken Head', 'Tom', 'Fudge', 'Vendor',
       'Housekeeper', 'Ron', 'Hermione', 'George', 'Fred', 'Mrs. Weasley',
       'Mr. Weasley', 'Lupin', 'Dumbledore', 'Draco', 'Seamus',
       'Fat Lady', 'Dean', 'Trelawney', 'Neville', 'Bem', 'Hagrid',
       'Pansy Parkinson', 'Boy', 'Class', 'Parvati', 'McGonagall',
       'Filch', 'Percy', 'Ginny', 'Teacher', 'Snape', 'Crowd', 'Man',
       'Fred & George', 'Witch', 'Crabbe', 'Madam Rosmerta',
       'Shrunken Head 1', 'Shrunken Head 2', 'Voice', 'Goyle', 'Sirius',
       'Pettigrew', 'Boy 1', 'Boy 2', nan], dtype=object)

## Contextual Visualization #1
For this visulization I have created a bar plot showing the top 20 most important characters based on the number of dialogues.

### Step 1 - Grouping the data to find out number of dialogues for each character

In [17]:
dia_count = hp_complete.groupby(['Character']).size().reset_index().rename(columns = {0: 'Dialogue Count'})
dia_count.head()

      Character  Dialogue Count
0    Aunt Marge             111
1  Aunt Petunia              18
2           Bem              24
3           Boy               6
4         Boy 1               2

### Step 2 - Finding out top 20 characters based on the dialogue count

In [18]:
top_characters = dia_count.sort_values('Dialogue Count', ascending = False)
top_characters = top_characters.head(20)
top_characters

        Character  Dialogue Count
21          Harry             911
24          Lupin             601
22       Hermione             577
35            Ron             446
20         Hagrid             291
11     Dumbledore             228
40         Sirius             210
41          Snape             183
16          Fudge             165
45      Trelawney             117
10          Draco             114
0      Aunt Marge             111
42  Stan Shunpike              84
14           Fred              74
27     McGonagall              66
17         George              65
34      Pettigrew              57
46   Uncle Vernon              57
28    Mr. Weasley              54
37  Shrunken Head              48

### Step 3 - Creating the bar plot for listing important characters based on dialogue count

In [19]:
col_sc = bqplot.ColorScale(scheme='Blues')
x_sc = bqplot.OrdinalScale()
y_sc = bqplot.LinearScale()

#ax_x = bqplot.Axis(scale = x_sc, tick_rotate = -40, tick_style= {'font-size': '8px', 'text-anchor': 'end', 'font-size': 10},\
#                   label = 'Character Name', label_offset = '12%')
#ax_y = bqplot.Axis(scale = y_sc, orientation = 'vertical', tick_style= {'font-size': '10px'}, label = 'Dialogue Count')
#ax_col = bqplot.ColorAxis(scale = col_sc, orientation = 'vertical', side = 'right')

fig1 = plt.figure(title = 'Important characters based on dialogue count',
                  title_style = {'font-size': '25px', 'font-weight': 'bold'})

top_char_plot = plt.bar(x = top_characters.Character.to_list(), 
                       y= top_characters['Dialogue Count'].to_list(),
                       color = top_characters['Dialogue Count'].to_list(),
                       scales = {'color': col_sc, 'x': x_sc, 'y': y_sc}, 
                       tick_style ={'font-size': 100}, interactions = {'hover': 'tooltip'})

fig1.axes[1].tick_rotate = -60
fig1.axes[1].tick_style = {'text-anchor': 'end', 'offset': '40px', 'font-size': 10}
fig1.axes[1].label = 'Character Name'
fig1.axes[1].label_offset = '12%'

fig1.axes[2].label = 'Number of Dialogues'
fig1.axes[2].label_offset = '-8%'

fig1.axes[0].side = 'right'

### Step 4 - Adding interactivity to the plot

In [20]:
def on_char_plot(_, event):
    out3.clear_output()
    with out3:
        print(f"Character Name: {event['data']['x']}\n"\
              f"Dialogue count: {event['data']['y']}\n")
    top_char_plot.tooltip = out3

top_char_plot.on_hover(on_char_plot)

fig1

Figure(axes=[ColorAxis(scale=ColorScale(scheme='Blues'), side='right'), Axis(label='Character Name', label_off…

The above bar chart shows the top 20 characters based on dialogue count. The deeper shade of blue indicates more number of dialogues spoken whereas the lighter shade indicates lesser number of dialogues. When hovered over a bar plot, the tooltip displays the character name and exatct number of dialogues spoken by the character. 

As expected, Harry, Ron, Hermione are among the top 5 characters as per the number of dialogues each one has spoken. Lupin has played an important role in the third movies of the series and thus he is overall the second most important character in the first three movies.

## Contextual Visualization #2

The previous visualization successfully lists down the 20 most important characters. However, We also need to take into consideration the number of words spoken by each character. That may give us a more accurate estimate of who the most significant character was.

### Step 1 - Finding out the words spoken in each dialogue

In [21]:
hp_complete['Word Count'] = hp_complete['Sentence'].str.split().str.len()
hp_complete

,Character,Sentence,Word Count
0,Harry,"I should've known that you would be here, Prof...",10
1,Harry,"Good evening, Professor Dumbledore.",4
2,Harry,"Are the rumors true, Albus?",5
3,Harry,"I'm afraid so, professor.",4
4,Aunt Petunia,The good and the bad.,5
...,...,...,...
1633,Hermione,"How fast is it, Harry?",5
1634,Harry,Lumos.,1
1635,Harry,I solemnly swear that I am up to no good.,10
1636,Harry,Mischief managed.,2
1637,Harry,Nox.,1

### Step 2 - Grouping data to find out the number of words spoken by each character

In [22]:
word_count = hp_complete.groupby(['Character'])['Word Count'].sum().reset_index().rename(columns = {0: 'Word Count'})
word_count.head()

      Character  Word Count
0    Aunt Marge         679
1  Aunt Petunia         105
2           Bem         115
3           Boy          47
4         Boy 1           6

### Step 3 - Finding out top 20 characters based on the dialogue count

In [23]:
top_characters_words = word_count.sort_values('Word Count', ascending = False)

top_characters_words = top_characters_words.head(20)
top_characters_words

         Character  Word Count
21           Harry        4929
24           Lupin        3749
22        Hermione        3518
35             Ron        2564
20          Hagrid        1789
11      Dumbledore        1545
40          Sirius        1418
41           Snape        1113
16           Fudge         959
45       Trelawney         728
10           Draco         718
0       Aunt Marge         679
42   Stan Shunpike         513
27      McGonagall         482
14            Fred         397
17          George         371
28     Mr. Weasley         370
46    Uncle Vernon         325
34       Pettigrew         278
25  Madam Rosmerta         255

### Step 4 - Creating the bar plot for listing important characters based on word count

In [24]:
fig2 = plt.figure(title = 'Important characters based on word count',
                    title_style = {'font-size': '25px', 'font-weight': 'bold'})

col_sc1 = bqplot.ColorScale(scheme='Greens')
x_sc1 = bqplot.OrdinalScale()
y_sc1 = bqplot.LinearScale()

#ax_x1 = bqplot.Axis(scale = x_sc1, tick_rotate = -40, tick_style= {'font-size': '8px', 'text-anchor': 'end', 'font-size': 10},\
#                   label = 'Character Name', label_offset = '12%')
#ax_y1 = bqplot.Axis(scale = y_sc1, orientation = 'vertical', tick_style= {'font-size': '10px'}, label = 'Word Count')
#ax_col1 = bqplot.ColorAxis(scale = col_sc1, orientation = 'vertical', side = 'right')

top_word_plot = plt.bar(x = top_characters_words.Character.to_list(), 
                       y= top_characters_words['Word Count'].to_list(),
                       color = top_characters_words['Word Count'].to_list(),
                       scales = {'color': col_sc1, 'x': x_sc1, 'y': y_sc1},
                       tick_style ={'font-size': 100}, interactions = {'hover': 'tooltip'})


fig2.axes[1].tick_rotate = -60
fig2.axes[1].tick_style = {'text-anchor': 'end', 'offset': '40px', 'font-size': 10}
fig2.axes[1].label = 'Character Name'
fig2.axes[1].label_offset = '12%'

fig2.axes[2].label = 'Number of Words'
fig2.axes[2].label_offset = '-8%'

fig2.axes[0].side = 'right'

### Step 5 - Adding interactivity to the plot

In [25]:
def on_word_plot_1(_, event):
    out4.clear_output()
    with out4:
        print(f"Character Name: {event['data']['x']}\n"\
              f"Word count: {event['data']['y']}\n")
    top_word_plot.tooltip = out4

top_word_plot.on_hover(on_word_plot_1)

fig2

Figure(axes=[ColorAxis(scale=ColorScale(scheme='Greens'), side='right'), Axis(label='Character Name', label_of…

The above bar chart shows the top 20 characters based on word count. The deeper shade of green indicates more number of words spoken whereas the lighter shade indicates lesser number of words. When hovered over a bar plot, the tooltip displays the character name and exatct number of words spoken by the character.

Similar to the previous visulization, Harry, Lupin, Ron, Hermione top this bar chart as well. In fact, the order remains the same till Stan Shunpike. The order in which the characters appear based on the number of words they've spoken changes. For instance, Fred was ranked before McGonagall on the basis of number of dialogues, however as per the number of words spoken by both the characters, McGonagall is ranked before Fred.

I have used this as the base plot for the next visulization.

## Contextual Visulization #3
I wanted to map the information about the top 20 most important characters based on number of words spoken with the different houses and the blood statuses from the main dataset. This would help us understand which house had the most important characters.

### Step 1 - Fetching the House and the Blood Status information of top 20 important characters

In [26]:
tcw_list = top_characters_words.Character

# Fetching house of the characters
def get_house(x, characters_data):
    _ = characters_data.apply(lambda y: y['House'] if x in y['Name'] else None, axis  = 1).dropna()
    if not _.empty:
        return _.iloc[0]
    else:
        return 'Other'
    
# Fetching the blood status of the characters    
def get_blood_status(x, characters_data):
    _ = characters_data.apply(lambda y: y['Blood status'] if x in y['Name'] else None, axis  = 1).dropna()
    if not _.empty:
        return _.iloc[0]
    else:
        return 'Other'

top_characters_words['House'] = top_characters_words.Character.apply(lambda x: get_house(x, characters_data))
top_characters_words['Blood Status'] = top_characters_words.Character.apply(lambda x: get_blood_status(x, characters_data))

### Step 2 - Creating colormap and assigning the colors to each Hogwarts house

In [27]:
color_map = {'Gryffindor': 'red', 'Slytherin': 'green', 'Other': 'gray', 'Ravenclaw': 'blue', 'Hufflepuff': 'yellow'}

top_characters_words['House color'] = ''
for k, v in color_map.items():
    top_characters_words.loc[top_characters_words['House'] == k, 'House color'] = v
    
top_characters_words.head()

   Character  Word Count       House             Blood Status House color
21     Harry        4929  Gryffindor               Half-blood         red
24     Lupin        3749  Gryffindor               Half-blood         red
22  Hermione        3518  Gryffindor              Muggle-born         red
35       Ron        2564  Gryffindor               Pure-blood         red
20    Hagrid        1789  Gryffindor  Part-Human (Half-giant)         red

### Step 3 - Creating the bar plot

In [28]:
char_plot = plt.figure(title = 'Important characters based on word count',
                    title_style = {'font-size': '25px', 'font-weight': 'bold'},
                      legend_location="top-left")

col_sc2 = bqplot.ColorScale(scheme='Greens')
x_sc2 = bqplot.OrdinalScale()
y_sc2 = bqplot.LinearScale()

ax_x2 = bqplot.Axis(scale = x_sc2, tick_rotate = -40, tick_style= {'font-size': '8px', 'text-anchor': 'end', 'font-size': 10},\
                   label = 'Character Name', label_offset = '12%')
ax_y2 = bqplot.Axis(scale = y_sc2, orientation = 'vertical', tick_style= {'font-size': '10px'}, label = 'Word Count')
# ax_col1 = bqplot.ColorAxis(scale = col_sc1, orientation = 'vertical', side = 'right')

top_word_plot = plt.bar(x = top_characters_words.Character.to_list(), 
                        y= top_characters_words['Word Count'].to_list(),
                        colors = top_characters_words['House color'].tolist(),
                        scales = {'x': x_sc2, 'y': y_sc2},
                        tick_style ={'font-size': 100}, 
                        interactions = {'hover': 'tooltip'})

char_plot.axes[0].tick_rotate = -60
char_plot.axes[0].tick_style = {'text-anchor': 'end', 'offset': '40px', 'font-size': 10}
char_plot.axes[0].label = 'Character Name'
char_plot.axes[0].label_offset = '12%'

char_plot.axes[1].label = 'Number of words'
char_plot.axes[1].label_offset = '-8%'

### Step 4 - Adding interactivity to the bar plot

In [29]:
def on_word_plot_house(_, event, data):
    out4.clear_output()
    with out4:
        row = data.loc[data['Character'] == event['data']['x']]
        print(f"Character Name: {row['Character'].values[0]}\n"\
              f"Word count: {row['Word Count'].values[0]}\n"\
              f"House: {row['House'].values[0]}\n"
              f"Blood Type: {row['Blood Status'].values[0]}\n")
    top_word_plot.tooltip = out4

top_word_plot.on_hover(lambda _, x: on_word_plot_house(_, x, top_characters_words))

char_plot

Figure(axes=[Axis(label='Character Name', label_offset='12%', scale=OrdinalScale(), tick_rotate=-60, tick_styl…

The above bar plot shows the 20 most important characters based on the number of words spoken by them. The colors of the barplot represent the Hogwart houses. When hovered over any bar in the above bar chart the tooltip shows the name of the character, number of words spoken, the house to which the character belongs, and the blood status of the character.

From the above visulization, we can clearly see that Gryffindor has the most number of important characters in the three movies combined. From Slytherin, Snape and Draco make and appearance while from Ravenclaw, only Professor Trelawney made it to the list. Hufflepuff does not have any characters in the list of 20 most important characters.

## Source Links for the input datasets:
Characters.csv - https://www.kaggle.com/gulsahdemiryurek/harry-potter-dataset?select=Characters.csv </br>
Harry Potter 1.csv - https://www.kaggle.com/gulsahdemiryurek/harry-potter-dataset?select=Harry+Potter+1.csv </br>
Harry Potter 2.csv - https://www.kaggle.com/gulsahdemiryurek/harry-potter-dataset?select=Harry+Potter+2.csv </br>
Harry Potter 3.csv - https://www.kaggle.com/gulsahdemiryurek/harry-potter-dataset?select=Harry+Potter+3.csv

Inspiration for this project - https://public.tableau.com/app/profile/martina6444/viz/VizWhatyouLove_HarryPotterCharacters/HarryPotterDashboard